In [1]:
import scanpy as sc

In [37]:
data = sc.read_h5ad('/mnt/c/Users/ouyangkang/Downloads/A04227C1.h5ad')

In [38]:
data.X

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 66495 stored elements and shape (214, 32751)>

In [39]:
data.obs

,total_counts,pct_counts_mt,n_genes_by_counts,orig.ident,x,y
103.0,894,35.906040,416,sample,6906.887493,9678.804237
207.0,948,15.295359,625,sample,3458.262552,20029.725426
70.0,293,22.184300,189,sample,1428.273884,5982.470051
89.0,1064,32.706767,560,sample,7663.405732,8229.254118
94.0,945,42.645503,374,sample,8391.089756,8430.951746
...,...,...,...,...,...,...
16.0,239,12.970711,167,sample,9517.115915,2813.291401
20.0,349,19.197708,229,sample,7924.874964,3126.759918
211.0,293,25.255973,172,sample,9687.021698,20274.710639
17.0,301,23.255814,190,sample,7695.567255,2895.428322
156.0,229,25.764192,143,sample,9364.176189,14286.225096

In [42]:
columns_name = ["sample_"+ str(i) for i in range(214)]

In [43]:
import pandas as pd

vip_matrix = pd.DataFrame(
    data.X.todense(),
    columns=data.var_names,
    index=columns_name
)

In [ ]:
vip_matrix.T.to_csv("/mnt/c/Users/ouyangkang/Desktop/vip_raw_counts_matrix.csv", encoding="utf-8")

In [52]:
vip_matrix = vip_matrix.T

In [57]:
vip_matrix.index = vip_matrix.index.astype(str)

In [58]:
vip_matrix.index

Index(['PPP2R3B', 'DLGAP2', 'PTP4A3', 'AC131901.1', 'ARHGEF5', 'OR2A25',
       'BX248321.1', 'TRIM26', 'AC007325.1', 'MICA',
       ...
       'AC011525.1', 'CSNK2A2', 'BECN1', 'GAB2', 'ZNF652', 'AL158069.2',
       'PICART1', 'AC027801.3', 'AC011994.1', 'GPATCH8'],
      dtype='object', length=32751)

In [51]:
len(vip_matrix.columns) == len(set(vip_matrix.columns))

True

In [59]:
vip_matrix.head()

,sample_0,sample_1,sample_2,sample_3,sample_4,sample_5,sample_6,sample_7,sample_8,sample_9,...,sample_204,sample_205,sample_206,sample_207,sample_208,sample_209,sample_210,sample_211,sample_212,sample_213
PPP2R3B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DLGAP2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PTP4A3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AC131901.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ARHGEF5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
vip_matrix.to_csv("/mnt/c/Users/ouyangkang/Desktop/vip_raw_counts_matrix.csv", encoding="utf-8", quoting=1)

In [62]:
ctc = pd.read_csv("/mnt/c/Users/ouyangkang/Desktop/PredResults.csv")

In [63]:
ctc.head()

    cell_name  pred  softmax_value  ref_type
0    sample_0  BRCA       0.255322       NaN
1    sample_1  BRCA       0.289131       NaN
2  sample_101  Null       0.038462       NaN
3  sample_103  Null       0.038462       NaN
4  sample_104  Null       0.038462       NaN

In [67]:
ctc = ctc[ctc["softmax_value"] > 0.5]
ctc.head()

     cell_name  pred  softmax_value  ref_type
11  sample_118  BRCA       0.603416       NaN
13  sample_120   HCC       0.999890       NaN
21  sample_137   HCC       0.777640       NaN
22  sample_138  BRCA       0.767468       NaN
27  sample_142   HCC       0.742077       NaN

In [68]:
ctc

      cell_name  pred  softmax_value  ref_type
11   sample_118  BRCA       0.603416       NaN
13   sample_120   HCC       0.999890       NaN
21   sample_137   HCC       0.777640       NaN
22   sample_138  BRCA       0.767468       NaN
27   sample_142   HCC       0.742077       NaN
48   sample_178   HCC       0.999986       NaN
54   sample_186  BRCA       0.873221       NaN
78   sample_211   HCC       0.788362       NaN
80    sample_22   HCC       0.605052       NaN
81    sample_23  BRCA       0.595875       NaN
82    sample_25  BRCA       0.926354       NaN
101   sample_62   HCC       0.786763       NaN